
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel-container {
  margin: 20px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.carousel li {
  flex: 0 0 auto;
  margin: 0 10px;
  text-align: center;
}

.carousel img {
  max-width: 150px;
  height: auto;
  border-radius: 5px;
}
/* App.css */
.app {
  display: flex;
  height: 100vh; /* Full viewport height */
}

nav {
  width: 800px; /* Set width for the sidebar */
  background-color: #f8f9fa; /* Light background */
  height: 100%; /* Full height */
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.main-content {
  flex-grow: 1; /* Take up remaining space */
  padding: 1rem;
  overflow-y: auto; /* Enable scrolling if needed */
}

footer{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: white;
  background-color: #272727;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

}